@use "global" as *;

.works{
  margin-top: rem(82);

  @include mq('md'){
    margin-top: rem(176);
  }
}

.works__content{

  @include mq('md'){  
    margin-top: rem(-7);
  }
}

.works__button__wrapper{
  position: relative;
  z-index: 1;
}

