@use "global" as *;

.blog-card {
  display: flex;
  flex-direction: column;
  background: $white;
  color: $black;
  transition: all 0.3s 0s ease;
}

.blog-card:hover{
  background: $black;
  color: $white;
}

.blog-card__img {
  position: relative;
  width: 100%;
}

.blog-card__img::before {
  content: "";
  padding-top: 66.671947%;
  display: block;

  @include mq('md'){
    padding-top: 65.671947%;
  }
}

.blog-card__img img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-card__body {
  padding-left: rem(21);
  padding-right: rem(23);
  text-align: left;
}

.blog-card__title {
  font-size: rem(18);
  line-height: calc(35 / 18);
  margin-top: rem(2);
  letter-spacing: rem(0.899);

  @include mq('md'){
    margin-top: rem(4);
    letter-spacing: rem(1.2222);
  }
}

.blog-card__text {
  font-size: rem(14);
  line-height: calc(26 / 14);
  margin-top: rem(3);
  letter-spacing: rem(1);

  @include mq('md'){
    margin-top: rem(6);
    letter-spacing: rem(1.222222);
  }
}

.blog-card__info {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: rem(14);
  line-height: 1;
  margin-top: auto;
  padding-top: rem(8);
  padding-left: rem(21);
  padding-right: rem(21);
  padding-bottom: rem(17) ;
  
  @include mq('md'){
    padding-top: rem(12); 
  }
}

.blog-card__category {
  display: inline-block;
  background: $yellow2;
  padding: rem(5) rem(5);
  letter-spacing: rem(0.8);
  color: $black;

  @include mq('md'){
    letter-spacing: rem(1);
    padding: rem(5) rem(7);
  }
}

.blog-card__category:hover{
  color: $black;
}

.blog-card__date {
  letter-spacing: rem(1.3);
}

.blog-card-new {
  position: relative;
}

.blog-card-new::after {
  position: absolute;
  content: "New";
  width: rem(60);
  height: rem(60);
  border-radius: 50%;
  line-height: rem(60);
  letter-spacing: rem(1.8);
  background: $orange;
  color: $black;
  top: rem(-17);
  left: rem(-16);
  padding-left: rem(2);
  text-align: center;
  
  @include mq('md'){
    top: rem(-20);
  }
}
