@use "global" as *;

$drawer-width: 24px;
$drawer-height: 2px;
$drawer-color: #fff;

.drawer-icon {
  z-index: 902;

  @include mq('md'){
    display: none;
  }
}

.drawer-icon__bars {
  width: $drawer-width;
  height: rem(12.95);
  display: block;
  position: relative;
}

.drawer-icon__bar1,
.drawer-icon__bar2,
.drawer-icon__bar3 {
  position: absolute;
  width: $drawer-width;
  height: $drawer-height;
  border-radius: rem(10);
  background: $drawer-color; //横棒の色を指定
  top: 0;
  left: 0;
  transition: transform 0.5s ease 0s;
}

.drawer-icon__bar1 {
  top: 0;
}

.drawer-icon__bar2 {
  top: rem(6.5);
}

.drawer-icon__bar3 {
  top: rem(13.5);
}


.drawer-icon__bars.is-active > .drawer-icon__bar1 {
  transform: rotate(-45deg);
  top: rem(6.5);
}

.drawer-icon__bars.is-active > .drawer-icon__bar2, 
.drawer-icon__bars.is-active > .drawer-icon__bar3  {
  transform: rotate(45deg);
  top: rem(6.5);
}