@use "global" as *;

$drawer-width: 24px;
$drawer-height: 2px;
$drawer-color: #fff;

.c-drawer-icon {
  z-index: 902;
  display: block;
  position: relative;
  width: rem(24);
  height: rem(13);
  cursor: pointer;
  text-align: center;

  @include mq("md") {
    display: none;
  }
}

.c-drawer-icon span {
  display: block;
  position: absolute;
  width: $drawer-width;
  height: $drawer-height;
  background: $white;
  transition: 0.3s ease-in-out;
}

.c-drawer-icon span:nth-child(1) {
  top: 0;
}

.c-drawer-icon span:nth-child(2) {
  top: rem(6.5);
}

.c-drawer-icon span:nth-child(3) {
  top: rem(13);
}

.c-drawer-icon.is-active span:nth-child(1) {
  top: rem(6);
  transform: rotate(-45deg);
}

.c-drawer-icon.is-active span:nth-child(2),
.c-drawer-icon.is-active span:nth-child(3) {
  top: rem(6);
  transform: rotate(45deg);
}
