@use "global" as *;

.p-header {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  height: rem(50);
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 900;
  transition: 0.3s ease;
}

/* MV以下で透過解除 */
.p-header-color-scroll {
  background: rgba(0, 0, 0, 1);
}

.p-header__inner {
  height: inherit;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 rem(22);

  @include mq("md") {
    padding-left: rem(32);
    padding-right: 0;
    margin: 0 auto;
  }
}

.p-header__logo {
  z-index: 901;
}