@use "global" as *;

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: inline-block;
  bottom: rem(-21);
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: $yellow;
}

span.swiper-pagination-bullet {
  background-color: #c4c4c4;
  opacity: 1;
  margin: 0 rem(5.55) !important;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  @include mq("md") {
    bottom: rem(-27);
    left: 50%;
    transform: translateX(-50%);
  }
}

